/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  appearance: none;       
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; 
  appearance: textfield;      
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: #22d3ee;          
  stroke-width: 3.5px;      
  filter: drop-shadow(0 0 6px rgba(34, 211, 238, 0.7)); 
}

.react-flow__edge.selected .react-flow__edge-interaction {
  stroke: #22d3ee;
  opacity: 0.3;
}